<span class="icon2" style="display: none;">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="28"
    height="28"
    viewBox="0 0 28 28"
    fill="none">
    <path d="M19.5723 19.7639L18.2442 19.408L20.4844 11.0473L6.51545 19.1123L5.82999 17.9251L19.799 9.86011L11.4383 7.61987L11.7942 6.29172L22.4193 9.13873L19.5723 19.7639Z" fill="white" />
  </svg>
</span>