<li
  class="
    1 grid__item scroll-trigger animate--slide-in wizzy-result-product wizzy-product-[[id]]
    [[#groupId]]has-variations wizzy-group-product-[[groupId]][[/groupId]]
  "
  title="[[& name ]]"
  data-id="[[id]]"
  data-groupId="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
  data-cascade=""
  style="--animation-order: 1;"
>
  <!--
    <script src="//myraymond.com/cdn/shop/t/37/assets/cart.js?v=73455896656721463181722576103" defer="defer"></script>
  -->
  <link
    href="//myraymond.com/cdn/shop/t/37/assets/component-card.css?v=25863467210714959401724312706"
    rel="stylesheet"
    type="text/css"
    media="all"
  >

  <mm-product-card
    id=""
    class="card-wrapper product-card-wrapper"
    data-section-id="template--17033196044446__product-grid"
    data-url="[[&url]]"
    data-selector="mm-product-card"
    data-product-handle="[[dataURL]]"
  >
    <div
      class="
        card card--standard
        card--media
      "
      style="--ratio-percent: 125.0%;"
    >
      <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 125.0%;">
        <div class="wishlist-container">
          <a
            href="#"
            class="icon-wishlist-heart-empty wishlist-btn grid-wishlist-btn heart-wishlist-animation style_1"
            data-wishlist=""
            data-gridhulklist=""
            data-added="false"
            data-proid="[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
            data-varid="[[id]]"
            style="color: #000000;display: inline-block !important;"
          >
            <div style="display: initial;" class="wishlist_btn_icon">
              <i
                class="heart-hulk-animation collection-icon"
                data-icon="outline"
                style="color: #000000;font-size: 24px;"
                ><i class="icon-wishlist-heart-empty"></i
              ></i>
            </div>
            <span>Add to wishlist</span>
            <span class="count" data-layout="beside_count">0</span>
          </a>
        </div>
        <div class="card__media">
          <a href="[[&url]]">
            <div class="media media--transparent media--hover-effect">
              <img
                srcset="
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  [[mainImage]]&amp;width=165 165w,[[mainImage]]&amp;width=360 360w,[[mainImage]]&amp;width=533 533w,[[mainImage]] 640w
                "
                src="[[mainImage]]&amp;width=533"
                sizes="(min-width: 1440px) 327px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="[[name]]"
                class="motion-reduce"
                loading="lazy"
                fetchpriority="low"
                width="640"
                height="853"
              >
            </div>
          </a>
        </div>
        <div class="card__badge bottom left hidden">
          <span
            id="NoMediaStandardBadge-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
            class="badge badge--bottom-left color-accent-2"
            >Sale</span
          >
        </div>

        <div class="card__content card__content-image">
          <div class="variant-picker-card variant-over-image">
            [[#sizeSwatch]]
            <mm-variant-radios
              id="variant-radios-template--17033196044446__product-grid"
              class="no-js-hidden"
              data-section="template--17033196044446__product-grid"
              data-url="[[dataURL]]"
            >
              <fieldset class="js product-form__input product_card-fieldset fieldset__sizes">
                [[#values]]
                <div style="position: relative;">
                  <input
                    type="radio"
                    class="MM-variant-input"
                    id="template--17033196044446__product-grid-1-2-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-36"
                    name="Size-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-36"
                    value="[[#value]][[value]][[/value]]"
                    data-url="[[dataURL]]"
                    form="product-form--template--17033196044446__product-grid--[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                    checked=""
                    data-variantid="[[variationId]]"
                  >

                  <label
                    class="MM-variant-label available "
                    for="template--17033196044446__product-grid-1-2-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-36"
                    data-option="[[key]]"
                    data-active="active"
                  >
                    [[#value]][[value]][[/value]]<span class="visually-hidden">Variant sold out or unavailable</span>
                  </label>
                </div>
                [[/values]]
              </fieldset>
            </mm-variant-radios>
            [[/sizeSwatch]]
            <!--
              [[#swatches]]
              <mm-variant-radios
                id="variant-radios-template--17033196044446__product-grid"
                class="no-js-hidden"
                data-section="template--17033196044446__product-grid"
                data-url="[[dataURL]]"
              >
                <fieldset class="js product-form__input product_card-fieldset fieldset__sizes">
                  [[#values]]
                  <div style="position: relative;">
                    <input
                      type="radio"
                      class="MM-variant-input"
                      id="template--17033196044446__product-grid-1-2-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-36"
                      name="Size-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-36"
                      value="[[#value]][[value]][[/value]]"
                      data-url="[[dataURL]]"
                      form="product-form--template--17033196044446__product-grid--[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                      checked=""
                      data-variantid="[[variationId]]"
                    >

                    <label
                      class="MM-variant-label available "
                      for="template--17033196044446__product-grid-1-2-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-36"
                      data-option="[[key]]"
                      data-active="active"
                    >
                      [[#value]][[value]][[/value]]<span class="visually-hidden">Variant sold out or unavailable</span>
                    </label>
                  </div>
                  [[/values]]
                </fieldset>
              </mm-variant-radios>
              [[/swatches]]
            -->
          </div>

          <div class="add-to-bag-button"><span>add to cart</span></div>
        </div>
      </div>

      <div class="card__content">
        <div class="card__information">
          <div class="atc-wrapper">
            <div class="vendor-wrapper">
              <span class="visually-hidden">Vendor:</span>
              <div class="caption-with-letter-spacing subtitle">[[brand]]</div>
            </div>
            <div class="atc-icon-wrapper">
              <div class="atc-btn-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="24"
                  viewBox="0 0 25 24"
                  fill="none"
                  class="icon--ATC-MMcard"
                >
                  <path d="M17.735 22.5H4.26502C3.91024 22.5002 3.55949 22.4248 3.23608 22.2789C2.91267 22.1331 2.62401 21.92 2.38928 21.654C2.15456 21.388 1.97914 21.075 1.8747 20.736C1.77026 20.3969 1.73918 20.0395 1.78352 19.6875L3.28352 7.6875C3.36038 7.08347 3.65474 6.52816 4.11151 6.12551C4.56827 5.72286 5.15612 5.50048 5.76502 5.5H16.235C16.844 5.5005 17.4319 5.72295 17.8887 6.1257C18.3455 6.52845 18.6398 7.08388 18.7165 7.688L19.381 13.023C19.3891 13.0882 19.3843 13.1543 19.3669 13.2176C19.3494 13.2809 19.3197 13.3402 19.2793 13.392C19.239 13.4438 19.1888 13.4872 19.1317 13.5196C19.0746 13.552 19.0117 13.5729 18.9465 13.581C18.8814 13.5891 18.8152 13.5843 18.7519 13.5669C18.6886 13.5494 18.6294 13.5197 18.5775 13.4793C18.5257 13.439 18.4824 13.3888 18.4499 13.3317C18.4175 13.2746 18.3966 13.2117 18.3885 13.1465L17.724 7.812C17.6782 7.44947 17.5017 7.11613 17.2275 6.87456C16.9533 6.63299 16.6004 6.4998 16.235 6.5H5.76502C5.39962 6.4998 5.0467 6.63299 4.77254 6.87456C4.49838 7.11613 4.32182 7.44947 4.27602 7.812L2.77602 19.812C2.74975 20.0232 2.76864 20.2375 2.83143 20.4408C2.89422 20.6442 2.99949 20.8318 3.14026 20.9914C3.28103 21.151 3.4541 21.2789 3.648 21.3666C3.84191 21.4542 4.05222 21.4997 4.26502 21.5H17.735C17.7991 21.4879 17.8648 21.4886 17.9286 21.502C17.9924 21.5154 18.0529 21.5413 18.1066 21.5781C18.1604 21.615 18.2063 21.662 18.2418 21.7167C18.2773 21.7713 18.3017 21.8324 18.3135 21.8965C18.3374 22.0276 18.3088 22.1628 18.234 22.273C18.1592 22.3832 18.0441 22.4597 17.9135 22.486C17.8546 22.496 17.7948 22.5007 17.735 22.5Z" fill="black"></path>
                  <path d="M14.5 10C14.3674 10 14.2402 9.94732 14.1464 9.85355C14.0527 9.75979 14 9.63261 14 9.5V5.5C14 4.70435 13.6839 3.94129 13.1213 3.37868C12.5587 2.81607 11.7957 2.5 11 2.5C10.2044 2.5 9.44129 2.81607 8.87868 3.37868C8.31607 3.94129 8 4.70435 8 5.5V9.5C8 9.63261 7.94732 9.75979 7.85355 9.85355C7.75979 9.94732 7.63261 10 7.5 10C7.36739 10 7.24021 9.94732 7.14645 9.85355C7.05268 9.75979 7 9.63261 7 9.5V5.5C7 4.43913 7.42143 3.42172 8.17157 2.67157C8.92172 1.92143 9.93913 1.5 11 1.5C12.0609 1.5 13.0783 1.92143 13.8284 2.67157C14.5786 3.42172 15 4.43913 15 5.5V9.5C15 9.63261 14.9473 9.75979 14.8536 9.85355C14.7598 9.94732 14.6326 10 14.5 10Z" fill="black"></path>
                  <path d="M18 22.5C17.0111 22.5 16.0444 22.2068 15.2222 21.6574C14.3999 21.1079 13.759 20.3271 13.3806 19.4134C13.0022 18.4998 12.9031 17.4945 13.0961 16.5246C13.289 15.5546 13.7652 14.6637 14.4645 13.9645C15.1637 13.2652 16.0546 12.789 17.0246 12.5961C17.9945 12.4031 18.9998 12.5022 19.9134 12.8806C20.8271 13.259 21.6079 13.8999 22.1574 14.7222C22.7068 15.5444 23 16.5111 23 17.5C22.9985 18.8256 22.4713 20.0966 21.5339 21.0339C20.5966 21.9713 19.3256 22.4985 18 22.5ZM18 13.5C17.2089 13.5 16.4355 13.7346 15.7777 14.1741C15.1199 14.6137 14.6072 15.2384 14.3045 15.9693C14.0017 16.7002 13.9225 17.5044 14.0769 18.2804C14.2312 19.0563 14.6122 19.769 15.1716 20.3284C15.731 20.8878 16.4437 21.2688 17.2196 21.4231C17.9956 21.5775 18.7998 21.4983 19.5307 21.1955C20.2616 20.8928 20.8864 20.3801 21.3259 19.7223C21.7654 19.0645 22 18.2911 22 17.5C21.9988 16.4395 21.577 15.4228 20.8271 14.6729C20.0772 13.923 19.0605 13.5012 18 13.5Z" fill="black"></path>
                  <path d="M18 19.5C17.8674 19.5 17.7402 19.4473 17.6464 19.3536C17.5527 19.2598 17.5 19.1326 17.5 19V16C17.5 15.8674 17.5527 15.7402 17.6464 15.6464C17.7402 15.5527 17.8674 15.5 18 15.5C18.1326 15.5 18.2598 15.5527 18.3536 15.6464C18.4473 15.7402 18.5 15.8674 18.5 16V19C18.5 19.1326 18.4473 19.2598 18.3536 19.3536C18.2598 19.4473 18.1326 19.5 18 19.5Z" fill="black"></path>
                  <path d="M19.5 18H16.5C16.3674 18 16.2402 17.9473 16.1464 17.8536C16.0527 17.7598 16 17.6326 16 17.5C16 17.3674 16.0527 17.2402 16.1464 17.1464C16.2402 17.0527 16.3674 17 16.5 17H19.5C19.6326 17 19.7598 17.0527 19.8536 17.1464C19.9473 17.2402 20 17.3674 20 17.5C20 17.6326 19.9473 17.7598 19.8536 17.8536C19.7598 17.9473 19.6326 18 19.5 18Z" fill="black"></path>
                </svg>
              </div>
            </div>
          </div>

          <h2
            class="card__heading"
            id="title-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
          >
            <a
              href="[[&url]]"
              id="CardLink-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
              class="full-unstyled-link"
              aria-labelledby="CardLink-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]] Badge-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
            >
              [[name]]
            </a>
          </h2>

          <div class="variant-picker-card">
            [[#colorSwatch]]
            <mm-variant-radios
              id="variant-radios-template--17033196044446__product-grid"
              class="no-js-hidden"
              data-section="template--17033196044446__product-grid"
              data-url="[[dataURL]]"
            >
              <fieldset class="js product-form__input product_card-fieldset fieldset__color">
                [[#values]]
                <div style="position: relative;">
                  <input
                    type="radio"
                    class="MM-variant-input"
                    id="template--17033196044446__product-grid-2-0-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-15"
                    name="Color-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-15"
                    value="[[#value]][[value]][[/value]]"
                    data-url="[[dataURL]]"
                    form="product-form--template--17033196044446__product-grid--[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
                    checked=""
                    data-variantid="[[variationId]]"
                    disabled=""
                  >

                  <span class="MM-variant-swatch-container" data-active="active">
                    <span
                      class="MM-variant-swatch"
                      style="background-color:[[#value]][[value]][[/value]];"
                    >
                      [[#value]][[value]][[/value]]
                    </span>
                  </span>
                  <label for="template--17033196044446__product-grid-2-0-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]-15">
                    <span class="visually-hidden">Variant sold out or unavailable</span>
                  </label>
                </div>
                [[/values]]
              </fieldset>

              <!--
                <script type="application/json">
                  [{"id":43889975034014,"title":"38 \/ Blue","option1":"38","option2":"Blue","option3":null,"sku":"RMSX12986-B486F038","requires_shipping":true,"taxable":false,"featured_image":null,"available":false,"name":"Raymond Blue Solid Slim Fit Cotton Formal Shirt - 38 \/ Blue","public_title":"38 \/ Blue","options":["38","Blue"],"price":104900,"weight":0,"compare_at_price":209900,"inventory_management":"shopify","barcode":"8905725622693","requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":43889975066782,"title":"39 \/ Blue","option1":"39","option2":"Blue","option3":null,"sku":"RMSX12986-B486F039","requires_shipping":true,"taxable":false,"featured_image":null,"available":false,"name":"Raymond Blue Solid Slim Fit Cotton Formal Shirt - 39 \/ Blue","public_title":"39 \/ Blue","options":["39","Blue"],"price":104900,"weight":0,"compare_at_price":209900,"inventory_management":"shopify","barcode":"8905725622686","requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":[[id]],"title":"40 \/ Blue","option1":"40","option2":"Blue","option3":null,"sku":"RMSX12986-B486F040","requires_shipping":true,"taxable":false,"featured_image":null,"available":true,"name":"Raymond Blue Solid Slim Fit Cotton Formal Shirt - 40 \/ Blue","public_title":"40 \/ Blue","options":["40","Blue"],"price":104900,"weight":0,"compare_at_price":209900,"inventory_management":"shopify","barcode":"8905725622679","requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":43889975132318,"title":"42 \/ Blue","option1":"42","option2":"Blue","option3":null,"sku":"RMSX12986-B486F042","requires_shipping":true,"taxable":false,"featured_image":null,"available":false,"name":"Raymond Blue Solid Slim Fit Cotton Formal Shirt - 42 \/ Blue","public_title":"42 \/ Blue","options":["42","Blue"],"price":104900,"weight":0,"compare_at_price":209900,"inventory_management":"shopify","barcode":"8905725622662","requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":43889975165086,"title":"44 \/ Blue","option1":"44","option2":"Blue","option3":null,"sku":"RMSX12986-B486F044","requires_shipping":true,"taxable":false,"featured_image":null,"available":false,"name":"Raymond Blue Solid Slim Fit Cotton Formal Shirt - 44 \/ Blue","public_title":"44 \/ Blue","options":["44","Blue"],"price":104900,"weight":0,"compare_at_price":209900,"inventory_management":"shopify","barcode":"8905725622655","requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}},{"id":43889975197854,"title":"46 \/ Blue","option1":"46","option2":"Blue","option3":null,"sku":"RMSX12986-B486F046","requires_shipping":true,"taxable":false,"featured_image":null,"available":true,"name":"Raymond Blue Solid Slim Fit Cotton Formal Shirt - 46 \/ Blue","public_title":"46 \/ Blue","options":["46","Blue"],"price":104900,"weight":0,"compare_at_price":209900,"inventory_management":"shopify","barcode":"8905725622648","requires_selling_plan":false,"selling_plan_allocations":[],"quantity_rule":{"min":1,"max":null,"increment":1}}]
                </script>
              -->
            </mm-variant-radios>
            [[/colorSwatch]]
          </div>

          <div
            class="    price  price--on-sale"
          >
            <div class="price__container">
              <div class="price__regular">
                <span class="visually-hidden visually-hidden--inline">Regular price</span>
                <span class="price-item price-item--regular"> Rs. [[sellingPrice]] </span>
              </div>
              <div class="price__sale">
                <span class="visually-hidden visually-hidden--inline">Sale price</span>
                <span class="price-item price-item--sale price-item--last"> Rs. [[sellingPrice]] </span>
                [[#discountPercentage]]
                <span>
                  <s class="price-item price-item--regular"> MRP Rs. [[price]] </s>
                </span>
                [[/discountPercentage]] [[#discountPercentage]]
                <span class="discount-percent">[[discountPercentage ]]% OFF </span>[[/discountPercentage]]
              </div>
              <small class="unit-price caption hidden">
                <span class="visually-hidden">Unit price</span>
                <span class="price-item price-item--last">
                  <span></span>
                  <span aria-hidden="true">/</span>
                  <span class="visually-hidden">&nbsp;per&nbsp;</span>
                  <span> </span>
                </span>
              </small>
            </div>
          </div>
          <!--
            Once attribute is available than will work on it
            <div class="snap_dp_list">
              <style>
                .snap_collection_category .snap_circle_logo {width: 14px;}.snap_collection_category.snap_mobile_widget img {display: inline;margin: -2px 4px 0;width: 13px;}.snap_collection_category.snap_mobile_widget {cursor: pointer;color: #000;display: flex;align-items: center;justify-content: start;font-weight: 700;font-family: inherit;font-size: 12px;line-height: normal;-webkit-text-size-adjust: 89%;margin: 0;letter-spacing: normal;margin: -15px 0 10px;}.snap_collection_category .snap_know_more_text {color: #7000FF;font-size: 8.5px;}.snap_collection_category .snap_blue_color_text {color: #000;font-weight: 700;}@media (min-width: 346px) and (max-width: 390px) {.snap_dp_list .snap_collection_category .snap_know_more_text {font-size: 7.5px;}.snap_dp_list .snap_collection_category.snap_mobile_widget {cursor: pointer;font-size: 9.5px;margin: -10px 0 0px;}.snap_dp_list .snap_collection_category.snap_mobile_widget img {width: 12px;margin: 0px 3px 0;}}@media (min-width: 391px) and (max-width: 420px) {.snap_dp_list .snap_collection_category .snap_know_more_text {font-size: 8px;}.snap_dp_list .snap_collection_category.snap_mobile_widget {cursor: pointer;font-size: 11px;margin: 0px 0 0px;}.snap_dp_list .snap_collection_category.snap_mobile_widget img {width: 13px;margin: 0px 3px 0;}}@media (min-width: 768px) {.snap_dp_list .snap_collection_category .snap_know_more_text {font-size: 8px;}.snap_dp_list .snap_collection_category.snap_mobile_widget {cursor: pointer;font-size: 9.5px;margin: -15px 0 10px;}.snap_dp_list .snap_collection_category.snap_mobile_widget img {width: 12px;margin: 1px 3px 0;}}@media (min-width: 991px) {.snap_dp_list .snap_collection_category.snap_mobile_widget {font-size: 12.5px !important;}.snap_dp_list .snap_collection_category .snap_know_more_text {font-size: 8px !important;}.snap_dp_list .snap_collection_category .snap_circle_logo {width: 12px !important;}}@media (min-width: 768px) {.section-stack .snap_dp_list .snap_collection_category .snap_know_more_text {font-size: 9px !important;}.section-stack .snap_dp_list .snap_collection_category.snap_mobile_widget {cursor: pointer;font-size: 12px !important;margin: 0px 0 0px;}.section-stack .snap_dp_list .snap_collection_category.snap_mobile_widget img {width: 14px !important;margin: 1px 3px 0;}}@media (min-width: 991px) {.section-stack .snap_dp_list .snap_collection_category .snap_know_more_text {font-size: 9px !important;}.section-stack .snap_dp_list .snap_collection_category.snap_mobile_widget {cursor: pointer;font-size: 12px !important;margin: 0px 0 0px;}.section-stack .snap_dp_list .snap_collection_category.snap_mobile_widget img {width: 14px !important;margin: 1px 3px 0;}}.carousels-container__item--cell .card .card__content { padding-bottom: 20px;}
              </style>
              <div class="snap_collection_category snap_mobile_widget" onclick="">
                <span
                  >or<span class="snap_blue_color_text">
                    Rs.<span class="dp-collection-price" data-price="1049">350</span></span
                  >/Month</span
                ><img
                  src="https://assets.snapmint.com/assets/express_checkout/snap-logo-circle.png"
                  class="snap_circle_logo"

                ><span class="snap_know_more_text">Buy on EMI &gt;</span>
              </div>
            </div>
          -->

          <div class="snap_dp_list_dummy"></div>
        </div>
        <div class="card__badge bottom left hidden">
          <span
            id="Badge-template--17033196044446__product-grid-[[#groupId]][[groupId]][[/groupId]][[#singleVarientGroupId]][[singleVarientGroupId]][[/singleVarientGroupId]]"
            class="badge badge--bottom-left color-accent-2"
            >Sale</span
          >
        </div>
      </div>
    </div>
    <div class="loading-overlay__spinner hidden">
      <svg
        aria-hidden="true"
        focusable="false"
        role="presentation"
        class="spinner"
        viewBox="0 0 66 66"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
  </mm-product-card>
</li>
