.static-image-container img{
    height:100%;
    width: 100%;
}

.staic-main{
    position: relative;
}
.static-main{
    position: relative;
}
.static-text-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.static-text{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFF;
}

@media screen and (max-width:749px){

    .static-text{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        color: #FFF;
    }
}