.an-image-with-text__heading {
    text-align: center;
    font-family: "BalooTamma";
    font-weight: 700;
    font-size: 48px;
    color: #FFBB8A;
  }
  .an-image-with-text__heading-colors {
    color: #FFCD00;
  }
  .an-image-with-text__image{
    min-width: 480px;
  }
  .an-image-with-text__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
    font-family: "BalooTamma";
  }
 

  .an-image-with-text__description {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
  }

  .an-image-with-text__button{
    color: white;
    background-color: #FFCD00;
    border-radius: 40px;
    text-decoration: none;
    padding: .4rem 1.5rem;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
  }