.bundle__wrapper {
    background-color: #FFF0E6;
    padding: 2.5rem 0;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
  }
  .bundle__heading {
    text-align: center;
    font-family: "BalooTamma";
    font-weight: 700;
    font-size: 48px;
    color: #ffbb8a;
  }

  .bundle__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bundle__products {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .bundle__plus {
    padding: 1.3rem 1.7rem;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 28px;
    background-color: #FF6B00;
    color: white;
    font-weight: 500;
  }
  .bundle__price {
    font-weight: 600;
    font-size: 24px;
    font-family: "BalooTamma";
    color: black;
  }
  .selling-price {
    color: #FF6B00;
  }
  .bundle__cutout-image {
    position: absolute;
    bottom: -5%;
    left: 0;
    z-index: 10;
  }
  .bundle__cta-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .bundle__quantity-selector {
    font-weight: 600;
    padding: 1rem 2.5rem;
  }
  .bundle-add-button {
    padding: 1.5rem 3rem;
    background-color: #FF6B00;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
  }