@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .an-announcement-bar__wrapper {
    overflow: hidden;
    font-size: 12px;
    padding: 10px 40px;
    font-weight: bold;
  }
  .an-announcement-bar__container {
    white-space: nowrap;
    display: flex;
    animation: 25s slide infinite linear;
  }
  .an-announcement-bar__content {
    margin: 0 50px;
  }